/* RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Van Duc Tri
  ID: s3978223
  */
  html,body
  {
      margin: 0px;
      padding: 0px;
      overflow-x: hidden;
      background-color: burlywood ; 
  }
.topnav, footer {
    padding: 10px 10px 10px 10px;
    background-color: rgb(45, 45, 147);
    font-family: "museo","helvetica neue lt pro";
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}
.topnav img {
    width: 300px;
}
ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul a {
    color: antiquewhite;
    text-decoration: none;
}
ul li {
    padding: 5px;
    margin-left: 10px;
}
ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
    }
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
    }
.open .bar2 {
    opacity: 0;
    }
.open .bar3 {
    -webkit-transform: rotate (45deg) translate(-6px, -8px);
    transform: rotate (45deg) translate(-6px, -8px);
    }
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    }
.mobile-menu {
    display: none;
    position:absolute;
    background-color: rgba(45, 45, 147, 0.549);
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
.book_detail {
    padding-top: 30px;
    padding-bottom: 20px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    background-color: antiquewhite;
}
.bookpics {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    position: relative;
}
.book_description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.main_view {
    padding-left: 10px;
    width: 31rem;
    height: 50rem;
}
  
.main_view img {
    width: 31rem;
    height: 50rem;
    object-fit: cover;
}
  
.side_view {
    display: flex inline;
    justify-content: center;
    flex-wrap: wrap;
}
  
.side_view img {
    width: 9rem;
    height: 7rem;
    object-fit: cover;
    cursor: pointer;
    margin: 0.5rem;
}
input[type=button] {
    background-color: #ffa153;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
@media only screen and (max-width: 960px) {
    .topnav nav {
        display: none;
     }
    #hamburger-icon {
        display: block;
     }
    footer {
        font-size: xx-small;
     }
    .book_detail {
        overflow-y: scroll;
        display: block;
    }
     .main_view {
        padding-left: 10px;
        width: 248px;
        height: 400px;
    }
      
    .main_view img {
        width: 248px;
        height: 400px;
    }
      
    .side_view {
        display: flex inline;
        justify-content: center;
        flex-flow: row nowrap;
    }
      
    .side_view img {
        width: 8rem;
        height: 6rem;
        object-fit: cover;
        cursor: pointer;
        margin: 0.1rem;
    }
    #incompatible {
        display: none;
    }
}
